# ============================================================
# Rust
# ============================================================

**/target/


# ============================================================
# Go
# ============================================================

**/bin/
**/*_network/


# ============================================================
# SearchFS
# ============================================================

searchfs/searchfs.idx
searchfs/searchfs_index/
searchfs/*.idx
searchfs/*.bin


# ============================================================
# Temporary Files
# ============================================================

tmp*
*.exe
*.local
data/


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# OS
# ============================================================

.DS_Store
Thumbs.db
